{% extends 'bootstrap/base.html' %}

{% block head %}
    {{ super() }}
    <title>
        {%block title %}Flask Proyect | {% endblock %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='css/main.css') }}" />

{% endblock %}

{% block body %}
    {% block navbar%}
        {% include 'navbar.html' %}
    {% endblock %}
    {% for category, message in get_flashed_messages(with_categories=true) %}
      <div class="alert alert-{{ category }} alert-dismissible">
        <button type="button"
                data-dismiss="alert"
                class="close">&times;</button>
            {{ message }}
      </div>
    {% endfor %}
    {% block content %} {% endblock %}

    {% block scripts %}
        <script src="{{url_for('static', filename='js/main.js')}}"></script>
        {{ super() }}
    {% endblock %}
{% endblock %}