{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}
    {{ super() }}
    Signup
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Guardar imagen</h1>
       <form method="POST" action="upload" enctype="multipart/form-data">
            <input type="file" name="image" required>
            <br>
            <input type="submit" name="guardar">
       </form>
    </div>
{% endblock %}